In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import ast
import scipy.stats as stats
import statsmodels.api as sm
from scipy.stats import mannwhitneyu
pd.options.display.max_columns = 999
pd.options.display.max_rows = 999
import warnings
import re
warnings.filterwarnings('ignore')
%matplotlib inline

In [8]:
df = pd.read_csv("genes/combined-gene-on-off.csv")
df = df[df["celltype"] == "HBEC"]
d1 = pd.read_csv(f"~/projects/transcriptome_4D/data/gene_property/HBEC_ATAC_tss.tab", header=None, sep='\t',
                          names=["gene", "size", "covered", "total", "mean0", "HBEC_ATAC_tss"])
df = pd.merge(d1[["gene", "HBEC_ATAC_tss"]], df, on="gene")
df[df["HBEC_ATAC_tss"] <= 5]

,gene,off-period,on-period,off-mean,on-mean,K-off-rate,K-on-rate,off-median,on-median,off-period-counts,on-period-counts,TATA_group,inr_group,chr_x,strand_x,TSS,geneID,TATA +,YY1 +,SP +,SP -,ETS +,ETS -,NFY +,NFY -,CREB +,CREB -,NRF1 +,NRF1 -,ZNF143 +,ZNF143 -,U1 snRNP +,chr_y,start,end,strand_y,gene_id,transcript_id,distance2tss,celltype,cluster,gene_type,comment
0,LUZP1,"[213, 55, 11, 40]","[7, 7, 2]",79.75,5.333333,0.1875,0.012539,47.5,7.0,4,3,without_TATA,without_inr,chr1,-,23178121.0,ENSG00000169641.9,0.009,0.011,-0.126,-0.16,-0.028,-0.07,0.045,0.065,0.498,0.435,-0.004,0.001,-0.001,-0.067,0.186,chr1,23084023.0,23177808.0,-,ENSG00000169641,NaN,313.0,HBEC,cluster0,simple,NaN

In [16]:
df = pd.read_csv("genes/combined-gene-on-off.csv")
df = df[df["celltype"] == "H9D0"]
d1 = pd.read_csv(f"~/projects/transcriptome_4D/data/gene_property/ESC_D0_ATAC_tss.tab", header=None, sep='\t',
                          names=["gene", "size", "covered", "total", "mean0", "ATAC_tss"])
df = pd.merge(d1[["gene", "ATAC_tss"]], df, on="gene")
df[df["ATAC_tss"] <= 5]

,gene,ATAC_tss,off-period,on-period,off-mean,on-mean,K-off-rate,K-on-rate,off-median,on-median,off-period-counts,on-period-counts,TATA_group,inr_group,chr_x,strand_x,TSS,geneID,TATA +,YY1 +,SP +,SP -,ETS +,ETS -,NFY +,NFY -,CREB +,CREB -,NRF1 +,NRF1 -,ZNF143 +,ZNF143 -,U1 snRNP +,chr_y,start,end,strand_y,gene_id,transcript_id,distance2tss,celltype,cluster,gene_type,comment
5,ADGRF1,2.13549,"[10, 16, 25, 31]","[50, 7, 31, 84, 31]",20.500000,40.600000,0.024631,0.048780,20.5,31.0,4,5,without_TATA,with_inr,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,H9D0,cluster3,intronic_enhancer,NaN
8,EEF1D,2.02574,"[68, 15, 100, 9, 12, 31, 19, 3, 3, 95, 36, 5, ...","[40, 57, 28, 6, 16, 33, 29, 16, 54, 18, 26, 42...",17.040816,19.775510,0.050568,0.058683,8.0,16.0,49,49,without_TATA,with_inr,chr8,-,143597671.0,ENSG00000104529.13,-0.007,-0.014,0.387,1.553,-0.026,0.009,-0.013,-0.056,0.074,0.713,0.834,0.621,0.000,0.003,0.018,chr8,143579697.0,143599541.0,-,ENSG00000104529,NaN,1870.0,H9D0,cluster1,simple,NaN
9,SEC16A,1.00314,"[82, 71, 6, 16, 5, 23, 22, 5, 4, 2, 3, 15, 36,...","[5, 1, 15, 7, 8, 3, 3, 1, 3, 1, 15, 9, 4, 28, ...",21.918216,15.230469,0.065658,0.045624,14.0,10.5,269,256,without_TATA,with_inr,chr9,-,136483782.0,ENSG00000148396.14,-0.012,0.037,-0.484,0.063,0.427,0.036,0.018,0.008,0.129,-0.206,1.244,1.564,0.006,0.000,0.351,chr9,136440096.0,136483759.0,-,ENSG00000148396,NaN,23.0,H9D0,cluster1,simple,NaN

In [15]:
df = pd.read_csv("genes/combined-gene-on-off.csv")
df = df[df["celltype"] == "H9D3"]
d1 = pd.read_csv(f"~/projects/transcriptome_4D/data/gene_property/ESC_D3_ATAC_tss.tab", header=None, sep='\t',
                          names=["gene", "size", "covered", "total", "mean0", "ATAC_tss"])
df = pd.merge(d1[["gene", "ATAC_tss"]], df, on="gene")
df[df["ATAC_tss"] <= 6]

,gene,ATAC_tss,off-period,on-period,off-mean,on-mean,K-off-rate,K-on-rate,off-median,on-median,off-period-counts,on-period-counts,TATA_group,inr_group,chr_x,strand_x,TSS,geneID,TATA +,YY1 +,SP +,SP -,ETS +,ETS -,NFY +,NFY -,CREB +,CREB -,NRF1 +,NRF1 -,ZNF143 +,ZNF143 -,U1 snRNP +,chr_y,start,end,strand_y,gene_id,transcript_id,distance2tss,celltype,cluster,gene_type,comment
2,DISC1,0.955336,"[45, 71, 66, 20]","[2, 10, 7]",50.500000,6.333333,0.157895,0.019802,55.5,7.0,4,3,without_TATA,without_inr,chr1,+,231626800.0,ENSG00000162946.16,0.009,0.013,-0.631,1.245,0.697,0.087,0.243,0.005,-0.019,-0.001,0.050,-0.020,0.000,0.000,0.711,chr1,231626790.0,232041272.0,+,ENSG00000162946,NaN,10.0,H9D3,cluster1,intronic_enhancer,NaN
11,EEF1D,1.577110,"[3, 14, 11, 17, 90, 3, 48, 3, 5, 2, 7, 21, 15,...","[40, 27, 10, 15, 3, 16, 3, 18, 28, 20, 12, 13,...",22.300000,18.588235,0.053797,0.044843,12.5,16.0,20,17,without_TATA,with_inr,chr8,-,143597671.0,ENSG00000104529.13,-0.007,-0.014,0.387,1.553,-0.026,0.009,-0.013,-0.056,0.074,0.713,0.834,0.621,0.000,0.003,0.018,chr8,143579697.0,143599541.0,-,ENSG00000104529,NaN,1870.0,H9D3,cluster1,simple,NaN
12,SEC16A,0.770206,"[5, 9, 82, 29, 5, 45, 29, 5, 13, 20, 4, 10, 10...","[3, 11, 7, 17, 15, 6, 12, 4, 7, 32, 33, 6, 13,...",18.414414,12.864486,0.077733,0.054305,12.0,10.0,222,214,without_TATA,with_inr,chr9,-,136483782.0,ENSG00000148396.14,-0.012,0.037,-0.484,0.063,0.427,0.036,0.018,0.008,0.129,-0.206,1.244,1.564,0.006,0.000,0.351,chr9,136440096.0,136483759.0,-,ENSG00000148396,NaN,23.0,H9D3,cluster1,simple,NaN
14,CELF1,0.937525,"[9, 3, 5, 3, 4, 3, 3, 8, 4, 6, 7, 22, 36]","[8, 21, 2, 16, 12, 26, 20, 3, 34, 78, 27]",8.692308,22.454545,0.044534,0.115044,5.0,20.0,13,11,without_TATA,with_inr,chr11,-,47565538.0,ENSG00000149187.13,0.264,0.017,0.029,-0.009,-0.016,0.009,0.004,-0.022,-0.085,-0.001,0.001,0.015,0.053,-0.008,0.517,chr11,47465933.0,47565569.0,-,ENSG00000149187,NaN,31.0,H9D3,cluster1,intronic_enhancer,NaN
17,HNRNPC,1.930910,"[4, 9, 5, 9, 7, 99, 9, 5, 5, 3, 10, 8, 23, 7, ...","[37, 21, 36, 19, 164, 2, 3, 22, 1, 5, 17, 81, ...",11.209677,23.718750,0.042161,0.089209,8.0,17.5,62,64,without_TATA,without_inr,chr14,-,21269441.0,ENSG00000092199.13,0.070,0.009,0.525,-0.030,-0.002,0.163,1.326,0.843,0.006,-0.017,0.052,0.011,0.000,-0.036,0.987,chr14,21209136.0,21269494.0,-,ENSG00000092199,NaN,53.0,H9D3,cluster0,simple,NaN